/*
font-family: 'Caveat', cursive;
font-family: 'Mochiy Pop One', sans-serif;
font-family: 'Mochiy Pop P One', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

h1 {
  font-family: "Mochiy Pop P One", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
}
